*.all
*.bed
*.csv
*.eur
*.fa
*.fasta
*.fastq
*.fq
*.gem
*.idx
*.inp
*.log*
*.out
*.pca
*.pca_stats
*.rds
*.tbi
*.tsv
*.txt
*.vcf
*.xlsx
*.xls
*.yri
*.gz
imgt_index/star/index*
geuvadis_reanalysis/expression/kallisto/phase_hla_alleles/PHASE/phase*
geuvadis_reanalysis/expression/star/phase_hla_alleles/PHASE/phase.out*
geuvadis_reanalysis/expression/kallisto/quantifications_*
geuvadis_reanalysis/expression/kallisto/log
geuvadis_reanalysis/expression/star/sample_indices/
geuvadis_reanalysis/expression/star/mappings_*
geuvadis_reanalysis/expression/star/quantifications_*
geuvadis_reanalysis/qtls/imgt/rtc/unmapped_to_hg38
geuvadis_reanalysis/qtls/qtls_star/imgt/rtc/geuvadis_eqtls/unmapped_to_hg38
geuvadis_reanalysis/expression/star/log/
geuvadis_reanalysis/qtls/qtls_star/imgt/3-conditional_analysis/log/
geuvadis_reanalysis/qtls/qtls_star/pri/3-conditional_analysis/log/
nci/expression/star/mappings_*
nci/expression/star/quantifications_*
nci/expression/star/sample_indices
nci/expression/star/log
simulation/PEreads_75bp/expression/kallisto/quantifications_*
simulation/PEreads_75bp/expression/star/quantifications_*
simulation/PEreads_75bp/expression/star/mappings_*
simulation/PEreads_75bp/expression/star/sample_indices
simulation/PEreads_75bp/expression/salmon/index*
simulation/PEreads_75bp/expression/salmon/quantifications_*
simulation/PEreads_75bp/expression/star/log/
simulation/PEreads_75bp/data/log/
