*.all
*.bed
*.csv
*.eur
*.fa
*.fasta
*.fastq
*.fq
*.gem
*.idx
*.inp
*.log
*.out
*.pca
*.pca_stats
*.rds
*.tbi
*.tsv
*.txt
*.vcf
*.xlsx
*.xls
*.yri
*.gz
geuvadis_reanalysis/expression/kallisto/phase_hla_alleles/PHASE/phase*
geuvadis_reanalysis/expression/kallisto/quantifications_*
geuvadis_reanalysis/qtls/rtc/unmapped_to_hg38
geuvadis_reanalysis/qtls/rtc/geuvadis_eqtls/unmapped_to_hg38
nci/expression/alignments/
nci/expression/quantifications_*
simulation/expression/kallisto/quantifications_*
simulation/expression/star/quantifications_*
simulation/expression/star/index
simulation/expression/star/Log*
simulation/expression/star/mappings_2
