*.all
*.bed
*.csv
*.eur
*.fa
*.fasta
*.fastq
*.fq
*.gem
*.idx
*.inp
*.log
*.out
*.pca
*.pca_stats
*.rds
*.tbi
*.tsv
*.txt
*.vcf
*.xlsx
*.xls
*.yri
*.gz
imgt_index/star/index*
geuvadis_reanalysis/expression/kallisto/phase_hla_alleles/PHASE/phase*
geuvadis_reanalysis/expression/star/phase_hla_alleles/PHASE/phase.out*
geuvadis_reanalysis/expression/kallisto/quantifications_*
geuvadis_reanalysis/expression/star/sample_indices/
geuvadis_reanalysis/expression/star/mappings_*
geuvadis_reanalysis/expression/star/quantifications_*
geuvadis_reanalysis/qtls/rtc/unmapped_to_hg38
geuvadis_reanalysis/qtls/qtls_star/rtc/geuvadis_eqtls/unmapped_to_hg38
geuvadis_reanalysis/expression/star/log/
nci/expression/alignments/
nci/expression/quantifications_*
simulation/expression/kallisto/quantifications_*
simulation/expression/star/quantifications_*
simulation/expression/star/mappings_*
simulation/expression/star/sample_indices
simulation/expression/star/Log*
simulation/expression/salmon/index*
simulation/expression/salmon/quantifications_*
simulation/expression/star/log/
simulation/data/log/
